<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Users</title>
  <style>
    html * {
      font-size: 26px;
      color: green;
      font-family: Roboto;
    }
    table, td, th {
      border: 1px solid grey;
    }
    td {
      height: 80px;
      width: 200px;
      text-align: center;
      vertical-align: middle;
    }
  </style>
</head>
<body>
<div class="container">
<!--<a href="/logout">Logout</a>-->
<!--После добавление в login-form отправки CSRF-token Заменим href="/logout" на форму
    тк теперь у нас POST запрос-->
<form th:action="@{/logout}" th:method="POST">
  <input type="submit" value="Logout">
</form>
<hr/>
<table>
  <thead><b>List of Users:</b>
  <tr>
    <th>Id</th>
    <th>FirstName</th>
    <th>LastName</th>
    <th>Email</th>
    <th>Role</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="user : ${users}">
    <td th:text="${user.id}"> Id </td>
    <td th:text="${user.firstName}"> FirstName </td>
    <td th:text="${user.lastName}"> LastName </td>
    <td th:text="${user.email}"> Email </td>
    <div th:each="role : ${user.roles}">
      <td th:text="${role.toString()}">Role Name</td>
    </div>
<!--    <td th:text="${user.password}">Password </td>-->
    <td>
      <a th:href="@{/admin/{id}/edit(id=${user.getId()})}">Edit</a>
    </td>
    <td>
      <form th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}">
        <input type="submit" value="Delete">
      </form>
    </td>
  </tr>
  </tbody>
</table>
<hr/>
<form th:method="post" th:action="@{/admin}" th:object="${user}">
  <label for="firstName">FirstName</label>
  <input type="text" th:field="*{firstName}" id="firstName" name="firstName">
  <br/>
  <label for="lastName">LastName</label>
  <input type="text" th:field="*{lastName}" id="lastName" name="lastName">
  <br/>
  <label for="email">Email</label>
  <input type="text" th:field="*{email}" id="email" name="email">
  <br/>
  <label for="password">Password</label>
  <input type="password" th:field="*{password}" id="password">
  <br/>

  <p>Roles:</p>
  <div th:each="role : ${allRoles}">
    <label th:for="${role}" th:text="${role}"/>
    <input type="checkbox" name="selectedRoles" th:checked="${user.hasRole('__${role.name}__')}" th:id="${role}" th:value="${role}">
  </div>
  <input type="submit" value="Add New User"/>
</form>
<div th:if="${errors}">
  <p style="color : red" th:each="error : ${errors}" th:text="${error.defaultMessage}">Error message<p/>
</div>
</body>
</html>